<div id="subNavigationMenu" width="100%">
<a class="button" href="@Url.Action("Index","Doctor")">Doctors Management</a>
<a class="button" href="@Url.Action("Index","Specialization")">Specialization Management</a> 
<a class="button" href="@Url.Action("Index","DoctorRoom")">Doctor Room Assignment</a>  
</div>