@{
    ViewBag.Title = "Others";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
  <div>
   <section id="patientroombuttonpanel">
     @Html.Partial("_PatientRoomButtonPanel")
   </section>
  </div>
  <h2>Others</h2>
</div>


