@model IEnumerable<HumanCareDataAccessLayer.Patient_Room>

@{
    ViewBag.Title = "RoomModification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
  <div>
   <section id="patientroombuttonpanel">
     @Html.Partial("_PatientRoomButtonPanel")
   </section>
  </div>
  <h2>RoomModification</h2>
</div>


