@model Humancare.Data.Patient_Treatment


<!DOCTYPE html>

    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <h1>successful!</h1>
    
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</html>
