@model Humancare.Data.Patient_Treatment


    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <a href = "/Treatment/AddTreatmentView">addTreatment</a>
    <br />
     <a href="/Treatment/ListTreatment">ListTreatmentRecord</a>
