@{
    ViewBag.Title = "Home Page";
}
@section featured {

}
<div class="content">
<h3 class="h3">Welcome to Human Care Hospital Management System</h3>

<ol class="round">
    <li class="one">
        Hospital Management provides a direct link between healthcare facilities and those supplying the services they need. 
        This procurement and reference resource provides a one-stop-shop for professionals and decision makers within the hospital management, 
        healthcare and patient care industries. The project structure involves Adminstration clerks, Doctors and Higher management.
        
    </li>
</ol>
</div>
