<div id="subNavigationMenu" width="100%">
<a class="button" href="@Url.Action("Index", "Bill")">Manager billing</a>
<a class="button" href="@Url.Action("Index", "Reports")">Manager Reports</a> 
</div>