<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HealthCareNewEntities" connectionString="metadata=res://*/HumanCare.csdl|res://*/HumanCare.ssdl|res://*/HumanCare.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SAKTHI-VAIO\SQLEXPRESS;initial catalog=HealthCareNew;user id=sa;password=Enter321;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HumanCareContext" connectionString="Data Source=SAKTHI-VAIO\SQLEXPRESS;Initial Catalog=HealthCareNew;user id=sa;password=Enter321" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>